    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        font-family: 'Berkshire Swash', cursive;
    }

    body {
        background-color: #D2D2D2;
        background-image:
            repeating-linear-gradient(to right, transparent 0 100px,
                #25283b22 100px 101px),
            repeating-linear-gradient(to bottom, transparent 0 100px,
                #25283b22 100px 101px);
        background-color: black;
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        height: 100vh;
        background-size: cover;
        background-attachment: fixed;
        min-height: 100vh;
    }

    body::before {
        position: absolute;
        width: min(1400px, 90vw);
        top: 10%;
        left: 50%;
        height: 90%;
        transform: translateX(-50%);
        content: '';
        background-image: url(bg.png);
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: top center;
        pointer-events: none;
    }


    header {
        position: fixed;
        /* Hace que el header esté sobre el contenido */
        top: 0;
        /* Lo pega arriba de la pantalla */
        left: 0;
        width: 100%;
        /* Ocupa todo el ancho de la pantalla */
        z-index: 1000;
        /* Lo pone por encima del carrusel */
        padding: 10px 0;
        border-radius: 70px;
        margin-top: 20px;
    }

    .navbar {

        position: fixed;
        align-items: center;
        left: 3px;
        right: 3px;
        height: 60px;
        display: flex;
        justify-content: space-between;
        z-index: 1000;
        border-radius: 60px;
    }

    .centro {

        margin-left: 250px;
        height: 70px;
    }


    .Interior {
        max-width: 100%;
        margin: auto;

    }

    .logo {

        height: 90px;
        position: relative;
        margin-left: 30px;
    }

    .navegacion {
        float: right;
        display: flex;
        align-items: center;
        min-height: 90px;
        z-index: 1000;
    }

    .navegacion ul {
        list-style: none;
        padding: 0 10px;
    }

    .navegacion ul li {
        display: inline-block;
        position: relative;
        margin-top: 5px;
        transition: 3s linear;
    }

    .navegacion ul li img {
        height: 50px;
    }

    .navegacion ul li a {
        margin-left: 20px;
        color: white;
        text-align: center;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: bold;
        padding: 12px 20px;
        transition: .3s linear;
    }

    .navegacion ul li a:hover {
        color: #E9B364;
        transform: scale(1.1);
    }

    .hijos {
        display: none;

        position: absolute;
        background-color: #353e57;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
        column-gap: 20px;

        border-radius: 20px;
        left: -70px;
    }

    .interior ul li:hover .hijos {
        display: block;
        /* Muestra la sublista al pasar el ratón */
    }


    .navegacion .submenu .hijos {
        display: none;
        background: #0b132b;
        position: absolute;
        width: 100%;
    }

    .navegacion .submenu .hijos li {
        display: block;
        overflow: hidden;
        border-bottom: none;
    }

    .navegacion .submenu .hijos li a {
        display: block;
    }

    .hijos li a {
        font-family: 'Anton', Impact, sans-serif;
        /* Usa Anton de Google Fonts o Impact */
        font-size: 20px;
        /* Ajusta según necesites */
        font-weight: bold;
        text-transform: uppercase;
        /* Texto en mayúsculas */
        color: white;
        /* Ajusta el color según el fondo */
        text-shadow: 2px 2px 4px black;
        /* Sombra negra para resaltar */
        display: block;
        padding: 10px;
    }


    .carousel {


        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    .carousel .list .item {
        width: 100%;
        height: 100%;
        position: absolute;
        inset: 0 0 0 0;
    }

    .carousel .list .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .carousel .list .item .content {
        position: absolute;
        top: 20%;
        width: 1140px;
        max-width: 80%;
        left: 50%;
        transform: translateX(-50%);
        padding-right: 30%;
        box-sizing: border-box;
        color: #ffffff;
        text-shadow: 0 5px 10px #0004;
    }

    .carousel .list .item .author {
        font-family: "Poppins";
        font-weight: bold;
        letter-spacing: 10px;
        text-decoration: none;

    }

    .carousel .list .item .title,
    .carousel .list .item .topic {
        font-family: "Poppins";
        font-size: 5em;
        font-weight: bold;
        line-height: 1.3em;
    }

    .carousel .list .item .buttons {
        display: grid;
        grid-template-columns: repeat(2, 130px);
        grid-template-rows: 40px;
        gap: 5px;
        margin-top: 20px;
    }

    .carousel .list .item .buttons button {
        border: none;
        background-color: #232323;
        letter-spacing: 3px;
        font-family: Poppins;
        font-weight: 500;
        transition: .3s;
        border-radius: 5px;
        color: #fff;
    }

    .carousel .list .item .buttons button a {
        color: #ffffff;
        text-decoration: none;
    }

    .carousel .list .item .buttons button:hover {
        transform: scale(1.1);
    }

    /* thumbail img pequeñas carrusel */
    .thumbnail {
        position: absolute;
        bottom: 50px;
        left: 50%;
        width: max-content;
        z-index: 100;
        display: flex;
        gap: 20px;
    }

    .thumbnail .item {
        width: 150px;
        height: 220px;
        flex-shrink: 0;
        position: relative;
    }

    .thumbnail .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 20px;
    }

    .thumbnail .item .content {
        color: #e8e8e8;
        position: absolute;
        bottom: 10px;
        left: 10px;
        right: 10px;
        background: #000;
        text-align: center;
    }

    .thumbnail .item .content .title {
        font-weight: 500;
    }

    .thumbnail .item .content .description {
        font-weight: 300;
    }

    /* arrows */
    .arrows {
        position: absolute;
        top: 80%;
        right: 52%;
        z-index: 100;
        width: 300px;
        max-width: 30%;
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .arrows button {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #eee4;
        border: none;
        color: #fff;
        font-family: monospace;
        font-weight: bold;
        transition: .5s;
    }

    .arrows button:hover {
        background-color: #fff;
        color: #000;
    }

    /* animation */
    .carousel .list .item:nth-child(1) {
        z-index: 1;
    }

    /* animation text in first item */

    .carousel .list .item:nth-child(1) .content .author,
    .carousel .list .item:nth-child(1) .content .title,
    .carousel .list .item:nth-child(1) .content .topic,
    .carousel .list .item:nth-child(1) .content .des,
    .carousel .list .item:nth-child(1) .content .buttons {
        transform: translateY(50px);
        filter: blur(20px);
        opacity: 0;
        animation: showContent .5s 1s linear 1 forwards;
    }

    @keyframes showContent {
        to {
            transform: translateY(0px);
            filter: blur(0px);
            opacity: 1;
        }
    }

    .carousel .list .item:nth-child(1) .content .title {
        animation-delay: 1.2s !important;
    }

    .carousel .list .item:nth-child(1) .content .topic {
        animation-delay: 1.4s !important;
    }

    .carousel .list .item:nth-child(1) .content .des {
        animation-delay: 1.6s !important;
    }

    .carousel .list .item:nth-child(1) .content .buttons {
        animation-delay: 1.8s !important;
    }

    /* create animation when next click */
    .carousel.next .list .item:nth-child(1) img {
        width: 150px;
        height: 220px;
        position: absolute;
        bottom: 50px;
        left: 50%;
        border-radius: 30px;
        animation: showImage .5s linear 1 forwards;
    }

    @keyframes showImage {
        to {
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 0;
        }
    }

    .carousel.next .thumbnail .item:nth-last-child(1) {
        overflow: hidden;
        animation: showThumbnail .5s linear 1 forwards;
    }

    .carousel.prev .list .item img {
        z-index: 100;
    }

    @keyframes showThumbnail {
        from {
            width: 0;
            opacity: 0;
        }
    }

    .carousel.next .thumbnail {
        animation: effectNext .5s linear 1 forwards;
    }

    @keyframes effectNext {
        from {
            transform: translateX(150px);
        }
    }

    /* running time */

    .carousel .time {
        position: absolute;
        z-index: 1000;
        width: 0%;
        height: 3px;
        background-color: #f1683a;
        left: 0;
        top: 0;
    }

    .carousel.next .time,
    .carousel.prev .time {
        animation: runningTime 3s linear 1 forwards;
    }

    @keyframes runningTime {
        from {
            width: 100%
        }

        to {
            width: 0
        }
    }


    /* prev click */

    .carousel.prev .list .item:nth-child(2) {
        z-index: 2;
    }

    .carousel.prev .list .item:nth-child(2) img {
        animation: outFrame 0.5s linear 1 forwards;
        position: absolute;
        bottom: 0;
        left: 0;
    }

    @keyframes outFrame {
        to {
            width: 150px;
            height: 220px;
            bottom: 50px;
            left: 50%;
            border-radius: 20px;
        }
    }

    .carousel.prev .thumbnail .item:nth-child(1) {
        overflow: hidden;
        opacity: 0;
        animation: showThumbnail .5s linear 1 forwards;
    }

    .carousel.next .arrows button,
    .carousel.prev .arrows button {
        pointer-events: none;
    }

    .carousel.prev .list .item:nth-child(2) .content .author,
    .carousel.prev .list .item:nth-child(2) .content .title,
    .carousel.prev .list .item:nth-child(2) .content .topic,
    .carousel.prev .list .item:nth-child(2) .content .des,
    .carousel.prev .list .item:nth-child(2) .content .buttons {
        animation: contentOut 1.5s linear 1 forwards !important;
    }

    .header-bar {
        position: relative;
        width: 100%;
        height: 60px;
        background-image: url(barra.png);

        background-size: 100%;
        background-repeat: no-repeat;

    }

    .header-bar img {

        position: relative;
        bottom: 0;
        max-width: 120px;
        margin-left: 90%;

    }

    .descripcion {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        /*Para dejarle espacio entre seccion y seccion*/
        padding: 20px;
        background: rgba(0, 0, 0, 0.6);
        /* Fondo oscuro semitransparente para contraste */
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s forwards;
        /* Animación de entrada */

    }

    @keyframes fadeInUp {
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .descripcion-texto {
        max-width: 500px;
    }

    .descripcion h2 {
        font-size: 2.2em;
        margin-bottom: 15px;
        color: #FF5733;
        /* Rojo cálido para el título */
        border-bottom: 3px solid #FF5733;
        width: 60%;
        margin: 0 auto;
        padding-bottom: 5px;
    }

    .descripcion p {
        font-size: 1.1em;
        line-height: 1.4;
        margin-top: 15px;
        text-align: justify;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
        color: #dcdcdc;
        /* Gris claro para texto */
    }

    /* Estilos para las imágenes */
    .desc-img {
        width: 27%;
        height: auto;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
        /* Sombra más fuerte para imágenes */
        transition: transform 0.3s ease-in-out;
    }

    .desc-img:hover {
        transform: scale(1.05);
        /* Efecto zoom en las imágenes */
    }

    .izquierda {
        margin-right: 10px;
    }

    .derecha {
        margin-left: 10px;
    }

    /* Botón "Ver más" */
    .btn-explore {
        display: inline-block;
        margin-top: 25px;
        padding: 12px 25px;
        background-color: #FF5733;
        /* Rojo cálido para el botón */
        color: white;
        text-decoration: none;
        border-radius: 5px;
        font-size: 1.1em;
        transition: background-color 0.3s ease;
        border: 2px solid #FF5733;
        /* Borde para mejorar la visibilidad */
    }

    .btn-explore:hover {
        background-color: #C0392B;
        /* Rojo oscuro cuando el cursor pasa sobre el botón */
        border-color: #C0392B;
        /* Cambio de color de borde en hover */
        text-decoration: none;
    }


    /* Optimización para dispositivos móviles */
    @media (max-width: 768px) {
        .descripcion {
            flex-direction: column;
            text-align: center;
        }

        .desc-img {
            width: 80%;
            margin: 10px 0;
        }

        .descripcion-texto {
            max-width: 90%;
        }
    }

    /*----galeria----*/

    .banner {
        margin-top: 40px;
        width: 100%;
        height: 100vh;
        text-align: center;
        overflow: hidden;
        position: relative;
    }

    .banner .slider {
        position: absolute;
        width: 200px;
        height: 250px;
        top: 10%;
        left: calc(50% - 100px);
        transform-style: preserve-3d;
        transform: perspective(1000px);
        animation: autoRun 20s linear infinite;
        z-index: 2;
    }

    @keyframes autoRun {
        from {
            transform: perspective(1000px) rotateX(-16deg) rotateY(0deg);
        }

        to {
            transform: perspective(1000px) rotateX(-16deg) rotateY(360deg);
        }
    }

    .banner .slider .item {
        position: absolute;
        inset: 0 0 0 0;
        transform:
            rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(550px);
    }

    .banner .slider .item img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .banner .content {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: min(1400px, 100vw);
        height: max-content;
        padding-bottom: 100px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        z-index: 1;

    }

    .banner .content h1 {
        font-family: 'ICA Rubrik';
        font-size: 13em;
        line-height: 1em;
        color: #25283B;
        position: relative;
    }

    .banner .content h1::after {
        position: absolute;
        inset: 0 0 0 0;
        content: attr(data-content);
        z-index: 2;
        -webkit-text-stroke: 2px #d2d2d2;
        color: transparent;
    }

    .banner .content .author {
        font-family: Poppins;
        text-align: right;
        max-width: 200px;
    }

    .banner .content h2 {
        font-size: 3em;
    }

    .banner .content .model {
        background-image: url(model.png);
        width: 100%;
        height: 75vh;
        position: absolute;
        bottom: 0;
        left: 0;
        background-size: auto 130%;
        background-repeat: no-repeat;
        background-position: top center;
        z-index: 1;
    }

    @media screen and (max-width: 1023px) {
        .banner .slider {
            width: 160px;
            height: 200px;
            left: calc(50% - 80px);
        }

        .banner .slider .item {
            transform:
                rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(300px);
        }

        .banner .content h1 {
            text-align: center;
            width: 100%;
            text-shadow: 0 10px 20px #000;
            font-size: 7em;
        }

        .banner .content .author {
            color: #fff;
            padding: 20px;
            text-shadow: 0 10px 20px #000;
            z-index: 2;
            max-width: unset;
            width: 100%;
            text-align: center;
            padding: 0 30px;
        }
    }

    @media screen and (max-width: 767px) {
        .banner .slider {
            width: 100px;
            height: 150px;
            left: calc(50% - 50px);
        }

        .banner .slider .item {
            transform:
                rotateY(calc((var(--position) - 1) * (360 / var(--quantity)) * 1deg)) translateZ(180px);
        }

        .banner .content h1 {
            font-size: 5em;
        }
    }

    .forms {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        margin-top: 20px;
        /*Para dejarle espacio entre seccion y seccion*/
        padding: 20px;
        background: rgba(0, 0, 0, 0.6);
        /* Fondo oscuro semitransparente para contraste */
        border-radius: 8px;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
        text-align: center;
        opacity: 0;
        transform: translateY(20px);
        animation: fadeInUp 1s forwards;
        /* Animación de entrada */
    }

    .enviarbtn {
        align-items: center;
        justify-items: center;
    }

    .contacto-container {
        background: white;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        max-width: 400px;
        width: 100%;
        margin-bottom: 20px;
        align-items: left;
        position: relative;
    }

    .btn {
        margin-top: 20px;
    }

    button {
        font-family: inherit;
        font-size: 20px;
        background: royalblue;
        color: white;
        padding: 0.7em 1em;
        padding-left: 0.9em;
        display: flex;
        align-items: center;
        border: none;
        border-radius: 16px;
        overflow: hidden;
        transition: all 0.2s;
        cursor: pointer;
    }

    button span {
        display: block;
        margin-left: 0.3em;
        transition: all 0.3s ease-in-out;
    }

    button svg {
        display: block;
        transform-origin: center center;
        transition: transform 0.3s ease-in-out;
    }

    button:hover .svg-wrapper {
        animation: fly-1 0.6s ease-in-out infinite alternate;
    }

    button:hover svg {
        transform: translateX(1.2em) rotate(45deg) scale(1.1);
    }

    button:hover span {
        transform: translateX(5em);
    }

    button:active {
        transform: scale(0.95);
    }

    @keyframes fly-1 {
        from {
            transform: translateY(0.1em);
        }

        to {
            transform: translateY(-0.1em);
        }
    }


    input,
    select {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        border: 1px solid #ccc;
        border-radius: 5px;
    }

    .video-container {
        margin-top: 60px;
        width: 100%;
        height: 50vh;
        /* Ajusta el tamaño del video */
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video-container iframe {
        width: 90%;
        height: 100%;
    }

    @media (max-width: 768px) {
        .descripcion {
            flex-direction: column;
            text-align: center;
        }

        .desc-img {
            width: 80%;
            margin: 10px 0;
        }

        .descripcion-texto {
            max-width: 90%;
        }
    }

    footer {
        position: relative;
        background: #140B5C;
        width: 100%;
        bottom: 0;
        left: 0;
    }

    footer::before {
        content: '';
        position: absolute;
        left: 0;
        top: 100px;
        height: 1px;
        width: 100%;
        background: #AFABB6;
    }

    footer .content {
        max-width: 1250px;
        margin: auto;
        padding: 30px 40px 40px 40px;
    }

    footer .content .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 50px;
    }

    .content .top .logo-details {
        color: #fff;
        font-size: 30px;
    }

    .content .top .media-icons {
        display: flex;
    }

    .content .top .media-icons a {
        height: 40px;
        width: 40px;
        margin: 0 8px;
        border-radius: 50%;
        text-align: center;
        line-height: 40px;
        color: #fff;
        font-size: 17px;
        text-decoration: none;
        transition: all 0.4s ease;
    }

    .top .media-icons a:nth-child(1) {
        background: #4267B2;
    }

    .top .media-icons a:nth-child(1):hover {
        color: #4267B2;
        background: #fff;
    }

    .top .media-icons a:nth-child(2) {
        background: #1DA1F2;
    }

    .top .media-icons a:nth-child(2):hover {
        color: #1DA1F2;
        background: #fff;
    }

    .top .media-icons a:nth-child(3) {
        background: #E1306C;
    }

    .top .media-icons a:nth-child(3):hover {
        color: #E1306C;
        background: #fff;
    }

    .top .media-icons a:nth-child(4) {
        background: #0077B5;
    }

    .top .media-icons a:nth-child(4):hover {
        color: #0077B5;
        background: #fff;
    }

    .top .media-icons a:nth-child(5) {
        background: #FF0000;
    }

    .top .media-icons a:nth-child(5):hover {
        color: #FF0000;
        background: #fff;
    }

    footer .content .link-boxes {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    footer .content .link-boxes .box {
        width: calc(100% / 5 - 10px);
    }

    footer .content .link-boxes .box .link_name {
        color: #fff;
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 10px;
        position: relative;
    }

    .link-boxes .box .link_name::before {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 2px;
        width: 35px;
        background: #fff;
    }

    .content .link-boxes .box li {
        margin: 6px 0;
        list-style: none;
    }

    .content .link-boxes .box li a {
        color: #fff;
        font-size: 14px;
        font-weight: 400;
        text-decoration: none;
        opacity: 0.8;
        transition: all 0.4s ease;
    }

    .content .link-boxes .box li a:hover {
        opacity: 1;
        text-decoration: underline;
    }

    .content .link-boxes .input-box {
        margin-right: 55px;
    }

    .link-boxes .input-box input {
        height: 40px;
        width: calc(100% + 55px);
        outline: none;
        border: 2px solid #AFAFB6;
        background: #140B5C;
        border-radius: 4px;
        padding: 0 15px;
        font-size: 15px;
        color: #fff;
        margin-top: 5px;
    }

    .link-boxes .input-box input::placeholder {
        color: #AFAFB6;
        font-size: 16px;
    }

    .link-boxes .input-box input[type="button"] {
        background: #fff;
        color: #140B5C;
        border: none;
        font-size: 18px;
        font-weight: 500;
        margin: 4px 0;
        opacity: 0.8;
        cursor: pointer;
        transition: all 0.4s ease;
    }

    .input-box input[type="button"]:hover {
        opacity: 1;
    }

    footer .bottom-details {
        width: 100%;
        background: #0F0844;
    }

    footer .bottom-details .bottom_text {
        max-width: 1250px;
        margin: auto;
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
    }

    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a {
        font-size: 14px;
        font-weight: 300;
        color: #fff;
        opacity: 0.8;
        text-decoration: none;
    }

    .bottom-details .bottom_text a:hover {
        opacity: 1;
        text-decoration: underline;
    }

    .bottom-details .bottom_text a {
        margin-right: 10px;
    }

    @media (max-width: 900px) {
        footer .content .link-boxes {
            flex-wrap: wrap;
        }

        footer .content .link-boxes .input-box {
            width: 40%;
            margin-top: 10px;
        }
    }

    @media (max-width: 700px) {
        footer {
            position: relative;
        }

        .content .top .logo-details {
            font-size: 26px;
        }

        .content .top .media-icons a {
            height: 35px;
            width: 35px;
            font-size: 14px;
            line-height: 35px;
        }

        footer .content .link-boxes .box {
            width: calc(100% / 3 - 10px);
        }

        footer .content .link-boxes .input-box {
            width: 60%;
        }

        .bottom-details .bottom_text span,
        .bottom-details .bottom_text a {
            font-size: 12px;
        }
    }

    @media (max-width: 520px) {
        footer::before {
            top: 145px;
        }

        footer .content .top {
            flex-direction: column;
        }

        .content .top .media-icons {
            margin-top: 16px;
        }

        footer .content .link-boxes .box {
            width: calc(100% / 2 - 10px);
        }

        footer .content .link-boxes .input-box {
            width: 100%;
        }
    }